<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Lista de Usuarios ativos</li>
  </ol>
</nav>
<div class="container">
  <div class="card list-user">
    <h5 class="card-header">Lista de usuarios</h5>
    <div class="card-body">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">email</th>
              <th scope="col">phone</th>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phone}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>