  <div class="container">
    <div class="row">
      <div class="col s12 m7">
        <tr *ngFor="let product of products">
        <div class="card sticky-action">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src={{product.imgUrl}} width="200" height="300">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{product.name}}<i class="material-icons right">more_vert</i></span>
            <p class="preco">{{product.price}}</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{product.name}}<i class="material-icons right">close</i></span>
            <p>{{product.description}}</p>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-teal btn">EDITAR</a>
          <a class="waves-effect waves-teal btn red">EXCLUIR</a>
          </div>
        </div>
      </tr>
      </div>
    </div>
  
  <div class="card add-product">
    <h5 class="card-header">Adicionar/Atualizar produtos</h5>
    <div class="card-body">
        <form id="add-form" (ngSubmit)="f.form.valid && saveProduct(f)" #f="ngForm" novalidate>
          <div class="form-group">
              <label for="name">Nome</label>
              <input type="text" [(ngModel)]="product.name" id="name" name="name" #name="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" placeholder="Digite o nome do produto">
              <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
              </div>
          </div>
          <div class="form-group">
              <label for="description">Descrição</label>
              <input type="text" [(ngModel)]="product.description" id="description" name="description" #description="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" placeholder="Digite uma descrição bacana">
              <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
              </div>
          </div>
          <div class="form-group">
              <label for="price">Preço</label>
              <input type="price" [(ngModel)]="product.price" id="price" name="price" #price="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && price.invalid }" placeholder="Digite o preço">
              <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
              </div>
          </div>
          <button type="submit" class="btn btn-primary btn-add-product">Salvar</button>
          <button type="reset" class="btn btn-secondary btn-add-product" (click)="cleanForm(f)">Cancelar</button>
        </form>
    </div>
  </div>
  </div>
  

