<div class="container">
    <div class="section-title">
        <div class="typewriter">
            <h1>Olá, esse é o projeto do mercadinho da Lili.</h1>
        </div>
    </div>
    <div class="about">
        <h1>Stack utilizadas</h1>
    </div>
    <div class="row">
        <div class="column">
          <img src="./assets/img/angularLogo.png" alt="Angular Logo">
        </div>
        <div class="column">
            <img src="./assets/img/springLogo.png" alt="SpringBoot Logo">
        </div>
        <div class="column">
            <img src="./assets/img/dockerLogo.png" alt="Docker Logo">
        </div>
        <div class="column">
            <img src="./assets/img/kubernetesLogo.png" alt="Kubernetes Logo">
        </div>
      </div> 
    <div class="about">
        <h1>Sobre</h1>
    </div>
    <p>
        O projeto que desenvolvi é uma aplicação web que utiliza a combinação de <a href="https://angular.io/"> Angular </a> e <a href="https://spring.io/projects/spring-boot">Spring Boot</a> como suas principais tecnologias. Essa combinação poderosa permite criar uma aplicação de ponta a ponta, desde o frontend até o backend, fornecendo uma experiência de usuário dinâmica e interativa.<br>

O Angular é um framework de desenvolvimento de aplicativos web em JavaScript/TypeScript que permite a criação de interfaces de usuário responsivas e escaláveis. Ele utiliza componentes reutilizáveis e segue a arquitetura (MVC) para separar a lógica de negócios da interface do usuário. O Angular também possui uma poderosa CLI (Interface de Linha de Comando) que facilita a criação, teste e implantação do código.

Por outro lado, o Spring Boot é um framework Java baseado no Spring que simplifica o desenvolvimento de aplicativos corporativos. Ele fornece um ambiente de execução leve e embutido, além de oferecer recursos para a criação de APIs RESTful, gerenciamento de dependências, segurança e acesso a banco de dados. O Spring Boot também promove a modularidade e a escalabilidade, permitindo o desenvolvimento rápido de aplicativos robustos.

No projeto, o Angular é responsável pela camada de apresentação, fornecendo uma interface de usuário intuitiva e amigável. Ele utiliza componentes Angular para definir a estrutura da página, que interagem com os usuários e exibem dados dinâmicos. Esses componentes podem ser personalizados e estilizados para atender aos requisitos de design do projeto.<br>

O Spring Boot é utilizado para a criação da camada de serviço e persistência de dados. Ele implementa a lógica de negócios e a integração com o banco de dados, fornecendo endpoints RESTful para a comunicação entre o frontend e o backend. O Spring Boot também oferece recursos avançados de segurança, como autenticação e autorização, para proteger a aplicação contra acessos não autorizados.

Além disso, o projeto utiliza um banco de dados relacional, PostgreSQL, para armazenar e recuperar os dados da aplicação. O Spring Boot facilita a conexão com o banco de dados por meio de suas bibliotecas de acesso a dados, como o Spring Data JPA, que simplifica a interação com o banco de dados por meio de uma abordagem baseada em objetos.

Em resumo, o projeto desenvolvido em Angular + Spring Boot é uma aplicação web moderna e escalável que combina a poderosa interface de usuário do Angular com a eficiência e a robustez do Spring Boot. Essa combinação de tecnologias permite criar uma aplicação de alto desempenho, fácil de manter e que atenda aos requisitos do mundo real.

Além da combinação Angular + Spring Boot, o projeto também utiliza Docker, Kubernetes e Nginx para fornecer uma estrutura de implantação e escalabilidade eficiente.
    </p>
    
</div>